<!DOCTYPE html>
<html lang="es">
  <head>
  <% content_for :head do %>
    <meta charset="utf-8">
  <% end %>
    <%= display_meta_tags site: 'meta tags' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
